@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome To Person Code</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Person Details</h2>
@{
    string name = "Radha";
    int age = 22;
    string address = "Nagpur";
   long mobile = 9326790908;
}

<p>Person Name:@name</p>
<p>Age:@age</p>
<p>Address:@address</p>
<p>Mobile No:@mobile</p>


    