<html>
<head>
<style>
h1 {color:blue;text-align:center;}
h2 {color:green;text-align:center;}
h2 {text-align:center;}
body {background-image:url(' flower.jpg');}
</style>
</head>
<body>
<h1>MKPITS SOLUTIONS</h1>
<h1>Welcome to MKPITS SOLUTIONS Nagpur </h1>
<h2>Fortune Mall Nagpur </h2>
<h3>maharashtra,India</h3>
</body>
</html>



