@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    ViewBag.Title = "index";
}

@model signup.ModeIs.signup

@using(Html.BeginForm("index","Signup",FormMethod.Post))
{
    <h1> SignUp Form</h1>

    <b> User Name</b> @Html.TextBox("username","",new{style="color:black"})
    <br/>
    <br/>

    <b>Password</b> @Html.TextBox("password","",new{style="color:black"})
    <br/><br/>
    <input type="submit" value="signup" />
} 
<hr/>

<h3>Signup Details :</h3>
User Name is:@ViewBag.username <br/>
Password is:@ViewBag.password <br/>
