@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome to student</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

   <h2>Student Information </h2>
@{
    string Username = "Rupali";
    int sub1 = 75;
    int sub2 = 80;
    int sub3 = 88;
    int total = sub1 + sub2 + sub3;
    float per = (float)(total / 300.0f) * 100.0f;
}

<p> Student Name : @Username</p>
<p> Student Marks:@total</p>
<p> Student Percentage:@per</p>
@{
    string grade = "first";
    <p> Student Grade:@grade</p>
}